image: wearepvtl/bitbucket-pipelines-git-ftp:latest

pipelines:
   default:
     - step:
        script:
            - git ftp push --force --user $FTP_USERNAME --passwd $FTP_PASSWORD ftp://starhotelgrandcanyon.com
